<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>

        <div class="leftpart">

            <div class="tooltipdiv">
                <button (click) = "scrollUp()" 
                style = "color: rgba(0,0,0,0);
                background-color: rgba(0,0,0,0);
                border: none;
                "
                >
                    <img src="assets/home.svg">
                </button>
                <div class="tooltip">Home</div>
            </div>

        </div>

        <div class="midpart">
            exampleSite.com
        </div>

        <div class="rightpart">

            <div class="tooltipdiv">
                    <img src="assets/basket.svg"/>
                <div class="tooltip">Basket</div>
            </div>

            <div class="tooltipdiv" id="orderimg">
                <a href="order.html">
                    <img src="assets/order.svg">
                </a>
                <div class="tooltip">Order</div>
            </div>

            <div class="tooltipdiv">
                <a href="myacc.html">
                    <img src="assets/account.svg">
                </a>
                <div class="tooltip">Your account</div>
            </div>

        </div>

    </header>
    <main>

        <div class="div1">

            <div class="welcometext">
                <p class="animatetext1">Welcome to exampleSite,</p>
                <p class="animatetext2">a place to get your site built <strong>properly.</strong></p>
            </div>

        </div>

        <div class="div2">

            <div class="desc">

                <div data-aos="fade-right"
                data-aos-duration = "1500">
                    <img src="assets/stopwatch.svg">
                    <img src="assets/support.svg">
                </div>

                <div data-aos="fade-left"
                data-aos-duration = "2000">
                    <p id="descpar">
                        Extremely fast delivery time, your websites will be done
                        in the matter of days, maybe even hours.
                    </p>
                    <p id="descpar">
                        Either you design it or we do, you will get support
                        throughout the whole process and even after the process is done.
                    </p>
                </div>

            </div>

        </div>

        <div class="div3">
            <div class="plantext">
                Pick the one that suits your needs best :
            </div>

            <div class="ordercontainer">
                <a class="narudzbe" href="ecom.html">
                    <div class="ordertype">
                        <p>Ecommerce</p>
                        <p>Website made for internet retailers, imagined as a webstore.</p>
                    </div>
                </a>

                <a class="narudzbe" href="portfolio.html">
                    <div class="ordertype">
                        <div>
                            <p>Portfolio</p>
                        </div>
                        <p>A website that will help you present yourself, and highlight your skills and achievements. </p>
                    </div>
                </a>

                <a class="narudzbe" href="forum.html">
                    <div class="ordertype">
                        <p>Community Forum</p>
                        <p>Website for online communities, made similar to social networks, but centered around discussion.</p>
                    </div>

                </a>

            </div>

        </div>


        <div class="div4">
            <p class="bottext">Copyright © 2024. All Rights Reserved</p>
        </div>

    </main>
</body>

</html>